In [4]:
import pandas as pd
import sqlite3

# Paths to your CSV and Excel files
csv_file_path = '2020.csv'  
excel_file_path = 'Data_Mapping.xlsx'

# Load CSV data into a Pandas DataFrame
data_2020 = pd.read_csv(csv_file_path)

# Load Excel file containing the mapping (Entity -> Tables, Attribute -> Columns)
mapping_df = pd.read_excel(excel_file_path)

# Open SQLite connection
conn = sqlite3.connect('behavioral_risk_2020.db')

# Iterate over unique entities (table names) from the Excel file
for entity in mapping_df['Entity'].unique():
    # Get the columns (attributes) related to this entity (table)
    entity_columns = mapping_df[mapping_df['Entity'] == entity]['Attribute'].tolist()
    
    # Filter the entity columns that are available in the CSV data
    available_columns = [col for col in entity_columns if col in data_2020.columns]
    
    if available_columns:  # Proceed only if there are available columns
        # Subset the CSV data to include only these columns
        entity_data = data_2020[available_columns]
        
        # Store the subset data into a table in SQLite with the name of the entity
        entity_data.to_sql(entity, conn, if_exists='replace', index=False)
        print(f"Table '{entity}' created successfully with columns: {available_columns}")
    else:
        print(f"No matching columns found in the CSV for table '{entity}'.")

# Close the SQLite connection
conn.close()

print("All data successfully loaded into corresponding tables in SQLite.")

Table 'Alcohol' created successfully with columns: ['AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS']
Table 'Cancer_test' created successfully with columns: ['HADHYST2', 'CNCRDIFF', 'CNCRAGE', 'CSRVTRT3', 'CSRVDOC1', 'CSRVSUM', 'CSRVRTRN', 'CSRVINST', 'CSRVINSR', 'CSRVDEIN', 'CSRVCLIN', 'CSRVPAIN', 'CSRVCTL2', 'PSATEST1']
Table 'Caregiver' created successfully with columns: ['CAREGIV1', 'CRGVREL4', 'CRGVLNG1', 'CRGVHRS1', 'CRGVPRB3', 'CRGVALZD', 'CRGVPER1', 'CRGVHOU1', 'CRGVEXPT']
Table 'childhood_exp' created successfully with columns: ['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX']
Table 'Children_details' created successfully with columns: ['RCSRLTN2', 'CASTHDX2', 'CASTHNO2', 'BIRTHSEX']
Table 'Cognitive_Decline' created successfully with columns: ['CIMEMLOS', 'CDHOUSE', 'CDASSIST', 'CDHELP', 'CDSOCIAL', 'CDDISCUS']
Table 'Common_Variables ' created successfully with columns: ['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU']
Table 'heart_diesease' created successfully with columns: ['CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW']
No matching columns found in the CSV for table 'COVID'.
Table 'DERIVED_VARIABLES' created successfully with columns: ['_RFHLTH', '_PHYS14D', '_MENT14D', '_TOTINDA', '_EXTETH3', '_ALTETH3', '_DENVST3', '_MICHD', '_LTASTH1', '_CASTHM1', '_ASTHMS1', '_DRDXAR2', '_HISPANC', '_SEX', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', 'HTIN4', 'HTM4', 'WTKG3', '_BMI5', '_BMI5CAT', '_RFBMI5', '_CHLDCNT', '_EDUCAG', '_RFMAM22', '_MAM5023', '_SMOKER3', '_RFSMOK3', '_FLSHOT7', '_PNEUMO3', '_AIDTST4']
Table 'DIABETES' created successfully with columns: ['INSULIN1', 'CHKHEMO3', 'EYEEXAM1']
Table 'Disability' created successfully with columns: ['DEAF', 'BLIND', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'HADMAM', 'HOWLONG']
Table 'Extra' created successfully with columns: ['QSTVER', 'QSTLANG', '_METSTAT', '_URBSTAT', 'MSCODE', '_STSTR', '_STRWT', '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_CHISPNC', '_CLLCPWT', '_DUALUSE', '_DUALCOR', '_LLCPWT2', '_LLCPWT']
No matching columns found in the CSV for table 'Family_Planning'.
No matching columns found in the CSV for table 'Firearms '.
Table 'Health_Care_details' created successfully with columns: ['CHECKUP1']
Table 'Health_Details' created successfully with columns: ['PREGNANT', 'WEIGHT2', 'HEIGHT3', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'EXERANY2', 'SLEPTIM1', 'ADDEPEV3', 'CHCKDNY2', 'HAVARTH4', 'DIABETE4']
Table 'HIV' created successfully with columns: ['HIVTST7', 'HIVTSTD3', 'HIVRISK5']
Table 'Identified_As' created successfully with columns: ['SOMALE', 'SOFEMALE', 'TRNSGNDR']
Table 'ME_CFS' created successfully with columns: ['TOLDCFS', 'HAVECFS', 'WORKCFS']
Table 'Oral_Care' created successfully with columns: ['LASTDEN4', 'RMVTETH4']
Table 'Personal_Information' created successfully with columns: ['CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'LADULT1', 'NUMADULT', 'NUMMEN', 'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'MARITAL', 'EDUCA', 'RENTHOM1', 'VETERAN3', 'EMPLOY1', 'CHILDREN']
No matching columns found in the CSV for table 'Reaction_to_race'.
Table 'Smoke_Tobacco' created successfully with columns: ['SMOKE100', 'SMOKDAY2', 'USENOW3', 'LCSFIRST', 'LCSLAST', 'LCSNUMCG', 'LASTSMK2', 'STOPSMK2']
No matching columns found in the CSV for table 'Social_life_and_health_equity'.
Table 'Marijuana_or_not ' created successfully with columns: ['MARIJAN1']
Table 'Vaccination ' created successfully with columns: ['HPVADVC4', 'HPVADSHT', 'SHINGLE2', 'FLUSHOT7', 'FLSHTMY3', 'PNEUVAC4', 'TETANUS1']
All data successfully loaded into corresponding tables in SQLite.

In [7]:
import os

# Set the environment variable within the notebook
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "top-suprstate-438620-h9-7a2effbc371a.json"

# Now proceed with Google Cloud Storage client initialization
from google.cloud import storage

# Instantiate a Google Cloud Storage client
client = storage.Client()

# List the buckets in your project
buckets = list(client.list_buckets())
print(buckets)

[<Bucket: gcf-v2-sources-892122457228-us-central1>, <Bucket: gcf-v2-uploads-892122457228-us-central1>, <Bucket: on-prem-ingestion-data>]

In [10]:
import sqlite3
import pandas as pd
from google.cloud import storage
import io

# Google Cloud Storage configuration
bucket_name = 'on-prem-ingestion-data'  
client = storage.Client()
bucket = client.get_bucket(bucket_name)

# Connect to SQLite database
conn = sqlite3.connect('behavioral_risk_2020.db')

# Get a list of all tables in the SQLite database
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)

# Iterate through each table and upload data directly to GCS
for table_name in tables['name']:
    # Read the table into a Pandas DataFrame
    table_data = pd.read_sql(f'SELECT * FROM {table_name}', conn)
    
    # Create an in-memory buffer for CSV data
    csv_buffer = io.StringIO()
    
    # Write the DataFrame to the buffer in CSV format
    table_data.to_csv(csv_buffer, index=False)
    
    # Set the destination path in GCS (adjust the path as needed)
    destination_blob_name = f'sql_tables/{table_name}.csv'
    blob = bucket.blob(destination_blob_name)
    
    # Upload the buffer's content to GCS
    blob.upload_from_string(csv_buffer.getvalue(), content_type='text/csv')
    
    print(f"Table '{table_name}' uploaded to GCS as '{destination_blob_name}'")

# Close SQLite connection
conn.close()

print("All tables uploaded successfully to GCS.")

Table 'Alcohol' uploaded to GCS as 'sql_tables/Alcohol.csv'
Table 'Cancer_test' uploaded to GCS as 'sql_tables/Cancer_test.csv'
Table 'Caregiver' uploaded to GCS as 'sql_tables/Caregiver.csv'
Table 'childhood_exp' uploaded to GCS as 'sql_tables/childhood_exp.csv'
Table 'Children_details' uploaded to GCS as 'sql_tables/Children_details.csv'
Table 'Cognitive_Decline' uploaded to GCS as 'sql_tables/Cognitive_Decline.csv'

DatabaseError: Execution failed on sql 'SELECT * FROM Common_Variables ': no such table: Common_Variables